.App {
  background-color: #dc0a2d;
}

.menu-open {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content {
  position: relative;
}

.search-image {
  width: 100%;
}

.select-box {
  position: absolute;
  border-radius: 6px;
  color: #ffcd00;
  background-color: #dc0a2d;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.4rem; 
}

.choice {
  border: solid 2px #ffcd00;
  border-radius: 6px;
  padding: 0.1rem 0.4rem;
  background-color: #356abc;
}

.choice:hover {
  cursor: pointer;
}

.hit-notice {
  position: absolute;
  border-radius: 6px;
  color: #f7f7f7;
  background-color: #dc0a2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  padding: 0.4rem;
  animation: fadeIn 3s cubic-bezier(.02,.53,1,.56);
}

.hit-notice.hit {
  background-color: #26cf33;
}

.footer {
  text-align: center;
  padding: 10px 0;
}

@keyframes fadeIn {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

@media  (max-width: 480px) {

  .App {
    height: 100vh;
  }

  .content {

  }

  .search-image {

  }

  .select-box {
    font-size: 0.9rem;
    padding: 0.2rem;
  }

  .choice {
    border: solid 1px #ffcd00;
    padding: 0.1rem 0.2rem;
  }

  .hit-notice {
    font-size: 0.9rem;
    padding: 0.2rem;
  }

}