.App {
  background-color: #dc0a2d;
}

.content {
  position: relative;
}

.search-image {
  width: 100%;
}

.select-box {
  position: absolute;
  border: solid 1px black;
  border-radius: 3px;
  background-color: #c1d9db;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem; 
}

.choice {
  border: solid 1px black;
  border-radius: 6px;
  padding: 0.1rem;
}

.choice:hover {
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 10px 0;
}